{% extends 'base.html' %}
{% block title %}
  Подписки
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Посты избранных авторов</h1>
    {% load cache %}
    {% cache 20 follow_page page_obj %}
      {% include 'posts/includes/switcher.html' %}
      {% for post in page_obj %}
        {% include 'posts/includes/post_card.html' %}
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    {% endcache %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}

